@font-face {
  font-family: 'Nouveau_IBM';
  src: url("Nouveau_IBM.eot?") format("eot"), url("Nouveau_IBM.woff") format("woff"), url("Nouveau_IBM.ttf") format("truetype"), url("Nouveau_IBM.svg#Nouveau_IBM") format("svg");
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  
  background: -webkit-radial-gradient(center, ellipse, #430d6d 0%, #000000 100%);
  background: radial-gradient(ellipse at center 55%, #430d6d 0%, #000000 100%);
  background-size: cover;
  height: 27.5em;
  overflow: hidden;
  background-size: 100%;

 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  overflow: hidden;

  }


  .grid-top,
.grid-bottom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: 50px 50px;
}

.grid-top {
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 19%, rgba(184, 1, 179, 0.5) 24%, #b900b4 25%, #b900b4 26%, rgba(184, 1, 179, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(184, 1, 179, 0.5) 74%, #b900b4 75%, #b900b4 76%, rgba(184, 1, 179, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 19%, rgba(184, 1, 179, 0.5) 24%, #b900b4 25%, #b900b4 26%, rgba(184, 1, 179, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(184, 1, 179, 0.5) 74%, #b900b4 75%, #b900b4 76%, rgba(184, 1, 179, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 19%, rgba(184, 1, 179, 0.5) 24%, #b900b4 25%, #b900b4 26%, rgba(184, 1, 179, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(184, 1, 179, 0.5) 74%, #b900b4 75%, #b900b4 76%, rgba(184, 1, 179, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0)), linear-gradient(90deg, rgba(0, 0, 0, 0) 19%, rgba(184, 1, 179, 0.5) 24%, #b900b4 25%, #b900b4 26%, rgba(184, 1, 179, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(184, 1, 179, 0.5) 74%, #b900b4 75%, #b900b4 76%, rgba(184, 1, 179, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0));
  -webkit-transform: rotateX(-80deg) scale(4);
          transform: rotateX(-80deg) scale(4);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  box-shadow: 0 -100px 100px 100px #1FE5F0;
  -webkit-animation: rad 1s reverse linear infinite;
          animation: rad 1s reverse linear infinite;
}

.grid-bottom {
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 19%, rgba(13, 229, 255, 0.5) 24%, #0de5ff 25%, #0de5ff 26%, rgba(13, 229, 255, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(13, 229, 255, 0.5) 74%, #0de5ff 75%, #0de5ff 76%, rgba(13, 229, 255, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 19%, rgba(13, 229, 255, 0.5) 24%, #0de5ff 25%, #0de5ff 26%, rgba(13, 229, 255, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(13, 229, 255, 0.5) 74%, #0de5ff 75%, #0de5ff 76%, rgba(13, 229, 255, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 19%, rgba(13, 229, 255, 0.5) 24%, #0de5ff 25%, #0de5ff 26%, rgba(13, 229, 255, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(13, 229, 255, 0.5) 74%, #0de5ff 75%, #0de5ff 76%, rgba(13, 229, 255, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0)), linear-gradient(90deg, rgba(0, 0, 0, 0) 19%, rgba(13, 229, 255, 0.5) 24%, #0de5ff 25%, #0de5ff 26%, rgba(13, 229, 255, 0.5) 27%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0) 69%, rgba(13, 229, 255, 0.5) 74%, #0de5ff 75%, #0de5ff 76%, rgba(13, 229, 255, 0.5) 77%, rgba(0, 0, 0, 0) 82%, rgba(0, 0, 0, 0));
  -webkit-transform: rotateX(100deg) scale(4);
          transform: rotateX(100deg) scale(4);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  box-shadow: 0 100px 100px 100px #E00BAD;
  -webkit-animation: rad 1s linear infinite;
          animation: rad 1s linear infinite;
}

@-webkit-keyframes rad {
  100% {
    background-position: 0px 50px;
  }
}

@keyframes rad {
  100% {
    background-position: 0px 50px;
  }
}



h1 {
	z-index: -1;
  font-family: "Nouveau_IBM";
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  position: relative;
  z-index: 100;
  top:40%;
  text-shadow: 1px 0px 1px rgba(160, 160, 170, 0.5), 0px 1px 1px rgba(230, 230, 240, 0.5), 2px 1px 1px rgba(159, 159, 169, 0.6), 1px 2px 1px rgba(229, 229, 239, 0.6), 3px 2px 1px rgba(158, 158, 168, 0.7), 2px 3px 1px rgba(228, 228, 238, 0.7), 4px 3px 1px rgba(157, 157, 167, 0.8), 3px 4px 1px rgba(227, 227, 237, 0.8), 5px 4px 1px rgba(156, 156, 166, 0.9), 4px 5px 1px rgba(226, 226, 236, 0.9), 6px 5px 1px #9b9ba5, 5px 6px 1px #e1e1eb, 7px 6px 1px #9a9aa4, 6px 7px 1px #e0e0ea, 8px 7px 1px #9999a3, 7px 8px 1px #dfdfe9, 9px 8px 1px #9898a2, 12px 12px 20px rgba(0, 0, 0, 0.2), 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
}

table{
margin:auto;
text-align:left;
font-size:20px;
}

